<!DOCTYPE html>
<html>
<head>
    <title>메뉴 페이지</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/detail.css' />
</head>
<body>
    <div id="navbar">
        <div class="wrap">
            <div class="item_logo"></div>
            <div class="item">
                <a href="/"><font size = "3vw" color = "white">홈</font> </a>
            </div>
            <div class="item">
                <a href="/menulist"><font size = "3vw" color = "white">메뉴</font> </a>
            </div>
            <% if (signinStatus == "관리자") {%>
                <div class="item">
                    <a a href="/basket"><font size = "3vw" color = "white">장바구니</font> </a>
                </div>
                <div class="item">
                    <a href="/ordermanagement"><font size = "3vw" color = "white">주문 기록</font> </a>
                </div>
                <div class="item">
                    <a href="/supplyreport"><font size = "3vw" color = "white">납품 기록</font> </a>
                </div>
                <div class="item">
                    <a href="/ingredientmanagement"><font size = "3vw" color = "white">재고 관리</font> </a>
                </div>
                <div class="item">
                    <a href="/signin"><font size = "3vw" color = "white">로그아웃</font> </a>
                </div>
            <%} else if (signinStatus){%>
                <div class="item">
                    <a a href="/basket"><font size = "3vw" color = "white">장바구니</font> </a>
                </div>
                <div class="item">
                    <a href="/signin"><font size = "3vw" color = "white">로그아웃</font> </a>
                </div>
            <%} else {%>
                <div class="item">
                    <a href="/signin"><font size = "3vw" color = "white">로그인</font> </a>
                </div>
            <%}%>
        </div>
    </div>
    
    <div id="content">
        <h1>메뉴 목록</h1><br>
        <form method="post">
            <p>
                <strong >
                    검색
                </strong>
                <input type="text" name="search" placeholder="검색어를 입력하세요.">
                <button 
                    type="submit"
                    onclick="javascript: form.action='/menulist/search'">
                    검색
                </button>
            </p><br>
        </form>
        <table border="1">
            <thead>
                <tr>
                    <th> 메뉴명 </th>
                    <th> 가격 </th>
                    <th> 수량 </th>
                    <th> 구매여부 </th>
                    <th> 기타 </th>
                    <% if (signinStatus == "관리자") {%>
                        <th> 대표 및 추천 여부 </th>
                    <%}%>
                </tr>
            </thead>
            <tbody>
                <% for (var i=0; i < menu_infos.length; i++){ %>
                    <tr>
                        <form method="post">
                            <td>
                                <a href="/menulist/detail/<%= menu_infos[i].menuID %>"><%= menu_infos[i].menuName %></a>
                            </td>
                            <td>
                                <%= menu_infos[i].menuPrice %>
                            </td>
                            <td>
                                <input type="number" name="quantity" value="1" max="100" min="1">
                            </td>
                            <td>
                                <button type="submit"
                                    onclick="javascript: form.action='/menulist/directorder/<%= menu_infos[i].menuID %>'">
                                    바로구매
                                </button>
                                <button type="submit"
                                    onclick="javascript: form.action='/menulist/addbasket/<%= menu_infos[i].menuID %>'">
                                    장바구니
                                </button>
                            </td>
                            <td>
                                <%= menu_infos[i].specialMenu %>
                            </td>
                            
                            <% if (signinStatus == "관리자") {%>    
                                <td>
                                    <button type="submit"
                                        onclick="javascript: form.action='/menulist/representative/<%= menu_infos[i].menuID %>'">
                                        대표메뉴
                                    </button>
                                    <button type="submit"
                                        onclick="javascript: form.action='/menulist/Recommended/<%= menu_infos[i].menuID %>'">
                                        추천메뉴
                                    </button>
                                </td>
                            <%}%>
                        </form>
                    </tr>
                <%}%>
            </tbody>
            
        </table>
    </div>
</body>
</html>
